* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: FiraGO;
    src: url(./src/fonts/FiraGO-Bold.woff);
}

body {
    background-color: #FDFDFD;
    font-family: FiraGO;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    display: grid;
    justify-content: center;
    width: 716px;
    height: 746px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    margin-top: 52px;
    margin-bottom: 32px;
}

.form {
    width: 616px;
}

.header {
    margin-top: 40px;
    margin-bottom: 13px;
    width: 191px;
    height: 43px;
}

#name {
    margin-bottom: 10px;
}

#email {
    margin-bottom: 10px;
}

#country {
    margin-bottom: 10px;
}

.input1 {
    margin-bottom: 10px;
}

#psw1 {
    margin-bottom: 10px;
}

.input {
    width: 616px;
}

.input>input {
    width: 616px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

#aboutyou {
    width: 614px;
    height: 146px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.btn {
    display: flex;
    justify-content: right;
    margin-top: 13px;
    margin-bottom: 24px;
}

button {
    font-family: FiraGO;
    font-size: 16px;
    width: 205px;
    height: 47px;
    background: #FFDD04;
    border-radius: 10px;
    border-color: transparent;
}

::placeholder {
    font-weight: 400;
    font-size: 16px;
    padding-left: 18px;
    padding-top: 18px;
    color: #E7E7E7;
}